{% extends 'base.html' %}
{% block title %}
Exam Page
{% endblock %}

{% block content %}
<body class="text-center">
<div class="container">
    <form method="POST" class="form-register" style="color:black">
        {{ form.hidden_tag() }}
        <br>
        <br>
        <h1 class="h3 mb-3 font-weight-normal">
            Please assign the homework
        </h1>
        <br>
        {{ form.students.label() }}
        {{ form.students(class="form-control", placeholder="Students") }}

        {{ form.homeworks.label() }}
        {{ form.homeworks(class="form-control", placeholder="Homeworks") }}
        <br>

        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

    </form>
</div>
</body>
{% endblock %}