{% extends 'base.html' %}
{% block title %}
  Exam Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Questions</th>
                <th scope="col">Exam ID</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.question }}</td>
                    <td>{{ question.exam_id }}</td>
                    <td>
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <input id="question_id" name="question_id" type="hidden" value="{{ question.id }}">
                            <input id="question" name="question" type="hidden" value="{{ question.question }}">
                            {{ form.submit(class="btn btn-outline-success btn-block") }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}